includes:
    - vendor/atoms/phpstan-rules/rules.neon

parameters:
    level: 8
    paths:
        - app/Atoms
    atoms:
        allowedNamespaces:
            - Illuminate\Database\
            - Illuminate\Contracts\Database\
            - Illuminate\Support\
            - Carbon\
